.mainHud{width: 80vh; display: flex;
    background-color: rgb(28, 54, 93);  padding-left: 2%; padding-right: 2%;}

.hudBtns{align-content: flex-end; align-items: flex-end;}

.statusBar{ background-color: rgb(66, 103, 159); height: 12vh; padding:3vh}

.logs{background-color: rgb(66, 103, 159); overflow-y: scroll; padding: 2%; max-height: 50%;}

.animations{height: 20%;}




.centrate{text-align: center; justify-content: center; align-items: center; }
.right{ align-items:right; justify-content: right; }
.basicBorders{padding:10px;margin: 10px;}
.topped{top: 0%; justify-content: start;}
.verticalFlex{display: flex;flex-direction: column;}
.horizontalFlex{display: flex;flex-direction:row;flex-wrap: wrap;}
.flexible{display: flex;}
.fitContent{word-break: break-all;font-size: large; flex-wrap: wrap;}
.separator{border-color:rgb(59, 53, 64); border-style: solid; border-width: 10px; border-left: 0; border-right: 0; border-top: 0;}
.tittle{font-size: large;}
.h500{height: 500px;}

